# Binaries for all platforms
*

# IDE, Editor and build tools
.idea/
.vscode/*
!.vscode/settings.json
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.orig
*~
.DS_Store
Thumbs.db

# Go related
bin/
*.exe
*.exe.*
*_test.exe
*/pkg/mod/cache/*/download/*
*/pkg/mod/*.a */pkg/mod/*.a.d
go.sum
Godeps/
vendor/

# Python (удалено)
*.pyc
__pycache__/
.env
.venv/
requirements.txt

# Node related (если есть)
node_modules/

# OS files
.DS_Store
Thumbs.db